@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueMedium.eot');
    src: url('../fonts/HelveticaNeueMediumd41d.eot#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueMedium.woff') format('woff'), url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

input::-webkit-input-placeholder {
    color: #7b7b7b;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

input:-moz-placeholder {
    color: #7b7b7b;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

input::-moz-placeholder {
    color: #7b7b7b;
    opacity: 1;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    /* Since FF19 lowers the opacity of the placeholder by default */
}

input:-ms-input-placeholder {
    color: #7b7b7b;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img {
    vertical-align: inherit;
}

a:focus{
    text-decoration: none;
}

.p-r {
    padding-right: 0;
}

.p-l {
    padding-left: 0;
}

.m-b-50 {
    margin-bottom: 50px;
}

section h2 {
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 20px;
}

section h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 20px;
    text-align: center;
}

body {
    font: 14px/1.2 'Open Sans', Arial, Helvetica, sans-serif;
    color: #000;
    background: #fff;
    min-width: 1170px;
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a:focus {
    text-decoration: none;
}

.holder {
    max-width: 770px;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 !important;
    overflow: hidden;
}


/*Header*/

#header {
    position: relative;
    background-color: #363636;
    clear: both;
    padding: 15px 0;
}

.logo {
    padding: 5px 0 0;
}

.main-menu {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    padding-left: 50px;
}

.main-menu li {
    display: inline-block;
    border-left: 1px solid #626262;
}

.main-menu li.submenu-link:hover ul {
    display: block;
}

.main-menu li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.main-menu .nav>li>a:focus {
    background-color: transparent;
}

.main-menu .nav>li>a:hover,
.main-menu .nav>li>a.active {
    text-decoration: none;
    background-color: #46aa42;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding: 10px 20px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
    }
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    background: #484848;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
}

.submenu li {
    display: block;
    position: relative;
    border: none;
}

.submenu li a {
    text-transform: none;
}

.main-menu .nav>li.submenu-link>.submenu >li:hover {
    text-decoration: none;
    background-color: #363636;
}

.main-menu .nav>li.submenu-link> .submenu >li >a {
    display: block;
    padding: 10px 20px;
}

.main-menu .nav>li.submenu-link> .submenu >li >a:hover {
    text-decoration: none;
}

.main-menu .nav>li.submenu-link:hover>a {
    background: #484848;
}

.submenu-link .caret {
    margin-left: 5px;
}

.submenu-link:hover .caret {
    border-bottom: 4px dashed;
    border-top: none;
}

.dropdown {
    min-width: 100px;
    max-width: 100px;
    padding: 10px 10px 5px;
    float: right;
}

.dropdown .lang {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
}

.dropdown .lang img {
    margin-right: 10px;
    vertical-align: bottom;
}

.dropdown .caret {
    position: relative;
    border: 1px solid #5a5a5a;
    padding: 10px;
    margin-left: 3px;
    vertical-align: middle;
}

.dropdown.open .caret {
    border: 1px solid transparent;
}

.dropdown.open .caret:after {
    border-bottom-color: #494949;
    border-top-color: transparent;
}

.dropdown.open .caret:before {
    border-bottom-color: #ccc;
    border-top-color: transparent;
}

.dropdown.open .caret:after,
.dropdown.open .caret:before {
    top: 0;
}

.dropdown .caret:after,
.dropdown .caret:before {
    top: 7px;
    right: 3px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown .caret:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #363636;
    border-width: 7px;
}

.dropdown .caret:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #ccc;
    border-width: 7px;
}

.lang-block .dropdown.open {
    background-color: #494949;
    border-radius: 0;
}

.lang-block .dropdown-menu {
    background-color: #494949;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    right: 0;
    border: none;
    float: none;
    min-width: 100px;
    max-width: 100px;
}

.lang-block .dropdown-menu>li>a {
    padding: 7px 10px;
}

.lang-block .dropdown-menu>li>a:focus,
.lang-block .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #363636;
    background-image: none;
}


/*Slider*/

#slider {
    position: relative;
    overflow: hidden;
}

#slider:after,
#slider:before {
    content: "";
    border-top: 5px solid #a3a3a3;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: -50%;
    z-index: 3;
    -webkit-transform: translate(-136px);
    -ms-transform: translate(-136px);
    transform: translate(-136px);
    height: 27px;
    background: #fff;
}

#slider:before {
    right: -50%;
    left: auto;
    -webkit-transform: translate(137px);
    -ms-transform: translate(137px);
    transform: translate(137px);
}

#slider .flexslider {
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;
}

#slider .flexslider:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 274px;
    height: 27px;
    z-index: 2;
    left: 1px;
    right: 0;
    margin: 0 auto;
    background: url('../images/bg-slider.png') no-repeat 0 0;
}

#slider .holder {
    width: 770px;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    left: 0;
}

#slider .desc {
    width: 400px;
    float: right;
    font-size: 28px;
    line-height: 1.4;
    font-weight: 300;
    margin: 0 0 70px;
}

#slider .desc strong {
    font-weight: 600;
}

.flexslider .container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    left: 0;
}

#slider .flex-control-nav {
    width: auto;
    position: static;
}

.custom-navigation {
    float: right;
    margin: 35px 0 0;
}

.custom-navigation a,
.custom-navigation div {
    display: inline-block;
    vertical-align: middle;
}

.custom-navigation > a {
    border: 7px solid #ced5ca;
    border-width: 0 0 7px 7px;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    overflow: hidden;
    outline: none;
}

.custom-navigation > a.flex-next {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.custom-navigation .flex-control-nav li {
    margin: 0 1px;
    vertical-align: middle;
}

.custom-navigation .flex-control-paging li a {
    border-radius: 0;
    box-shadow: none;
    height: 12px;
    width: 10px;
    background: #acaead;
    overflow: hidden;
    border: 1px solid #f5f6f6;
}

.custom-navigation > a:hover {
    border-color: #46aa42;
}

.custom-navigation .flex-control-paging li a:hover {
    background: #46aa42;
}

.custom-navigation .flex-control-paging li a.flex-active {
    height: 25px;
    background: #46aa42;
}

.slogan {
    bottom: 17%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 715px;
    z-index: 2;
}

.link-scroll {
    background: rgba(255, 255, 255, .8);
    display: block;
    width: 265px;
    height: 61px;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: 2;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0 0;
    -webkit-transition: bottom .3s ease 0s;
    -ms-transition: bottom .3s ease 0s;
    transition: bottom .3s ease 0s;
}

.link-scroll:hover {
    bottom: 0;
    text-decoration: none;
}


/*Benefits section*/

#benefits {
    padding: 30px 0;
    position: relative;
}

#benefits:after,
.dot-line:after {
    content: "";
    background: url("../images/dotline.png") 0 100% repeat-x;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 5px;
    width: 100%;
}

#benefits .jumbotron {
    padding: 35px 15px 15px;
    margin: 30px 0 10px;
    border-radius: 0;
    position: relative;
    min-height: 180px;
}

#benefits .jumbotron figure {
    width: 66px;
    height: 66px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -33px;
}


/*Learn section*/

#learn {
    font-size: 13px;
    background: #f6f6f6;
    padding: 35px 0;
}

#request h3 {
    text-align: left;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    padding: 15px 0;
}

#request {
    background: #595959;
}

.demo-request label {
    color: #c1c1c1;
    display: block;
    font-weight: normal;
}

.demo-request input[type="text"],
.demo-request input[type="email"],
.demo-request input[type="tel"] {
    height: 32px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 32px;
    font-family: 'Open Sans', Arial, sans-serif;
    background: #fff;
}

.demo-request input[type="submit"] {
    height: 32px;
    width: 105px;
    background: #009ddc;
    color: #fff;
    border: 0;
}

.demo-request input[type="submit"]:hover {
    background: #fff;
    color: #009ddc;
}

.demo-request .select2-container {
    width: 185px !important;
}

.demo-request .select2-container--default .select2-selection--single {
    border-radius: 0;
}

.demo-request .select2-container .select2-selection--single {
    height: 32px;
}

.demo-request .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.demo-request .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}

#request .talk-us h3 {
    background: #009ddc;
    padding: 15px 20px;
    margin: 0;
}

.talk-us .chat,
.talk-us textarea {
    border: 1px solid #009ddc;
    width: 100% !important;
    background: #fff;
    padding: 12px;
}

.talk-us .chat {
    height: 200px !important;
    overflow: hidden;
    margin: 0 0 15px;
}

.talk-us textarea {
    height: 68px !important;
    font-style: italic;
}

.talk-us form {
    background: #f6f6f6;
    padding: 60px 20px 80px;
}

.talk-us form .avatar {
    border: 2px solid #fff;
    margin: -95px 0 0;
}

.explore-links li {
    margin: 0 0 10px;
}

.explore-links li a {
    color: #fff;
    text-decoration: underline;
}

.explore-links li a:hover {
    text-decoration: none;
}


/*Providers page*/

.content-box {
    font-size: 18px;
    line-height: 1.3;
    padding: 40px 0 30px;
}

.content-box strong {
    font-weight: 600;
}

.line-blue {
    background: #009ddc;
    padding: 8px 0;
    text-align: center;
}

.line-blue h2 {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    vertical-align: middle;
    margin: 0 30px 0 0;
    position: relative;
}

.line-blue h2:before {
    content: "";
    background: url('../images/ico-t.png') no-repeat;
    width: 61px;
    height: 52px;
    position: absolute;
    top: -16px;
    left: -76px;
}

.btn-join {
    border: 2px solid #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 20px;
    color: #fff;
    font-size: 21px;
    font-family: 'HelveticaNeue', Arial, sans-serif;
}

.btn-join:hover {
    background: #fff;
    color: #009ddc;
    text-decoration: none;
}

.list-join {
    padding: 30px 0 15px;
    position: relative;
}

.list-join h1,
.form-join h2 {
    font-size: 38px;
    margin: 0 0 20px;
    font-weight: 300;
}

.list-join ul h4 {
    font-size: 24px;
    margin: 0;
    font-weight: 600;
}

.list-join ul li {
    font-size: 0;
    margin: 0 0 35px;
}

.list-join ul li > div {
    float: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.list-join ul li > div img {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}

.form-join {
    padding: 30px 0;
    background-color: #f6f6f6;
}

.form-join h2 {
    margin: 0 0 10px;
}

.form-join h2 + span {
    color: #808080;
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 0 0 30px;
}

.form-join h2 + span a {
    color: #0098d4;
    font-weight: 600;
}

.form-join form {
    background-color: #fff;
    padding: 30px 20px 15px;
    box-shadow: 0 2px 0 0 #e3e3e3;
}

.form-join form input[type="text"] {
    line-height: 32px;
}

.form-join form input[type="text"],
.form-join form textarea {
    width: 100% !important;
    border: 0;
    height: 32px;
    background: #f6f6f6;
    padding: 0 15px;
    box-shadow: 3px 3px 2px 0 #e7e7e7 inset;
}

.form-join form textarea {
    height: 80px !important;
    padding: 14px;
}

.btn-holder {
    width: 12%;
}

.textarea-holder {
    width: 54%;
}

.form-join form button {
    border: 0;
    background-color: transparent;
    float: right;
    padding: 10px 0 0;
}

.form-join form span {
    display: block;
}


/*top-bar*/

.top-bar {
    background-color: #f8f8f8;
    padding: 35px 0;
}

.providers-block {
    padding: 0;
    background: url("../images/shadow-1.png") no-repeat right 0;
}

.number-container {
    position: relative;
    display: inline-block;
    background: url("../images/form-rang.png") no-repeat;
    font: 98px 'Open Sans', sans-serif;
    color: #666666;
    text-align: center;
    width: 310px;
}

.rang-line {
    display: block;
    position: absolute;
    top: 48%;
    left: -15px;
    right: 0;
    margin: 0 auto;
    background: url(../images/rang-line.png) no-repeat;
    width: 345px;
    height: 20px;
}

.rang-text {
    display: inline-block;
    font: 25px 'Open Sans', sans-serif;
    color: #8c8c8c;
    padding-left: 35px;
}

.rang-text strong {
    font-size: 32px;
    color: #000;
}

.blue-title {
    font: 32px/4 'Open Sans Semi-Bold', sans-serif;
    color: #009ddc;
    padding-left: 35px;
}

.blue-title a {
    font: 32px/4 'Open Sans Semi-Bold', sans-serif;
    color: #009ddc;
}

a.blue-title:hover {
    text-decoration: none;
    color: #009ddc;
}

.blue-title .black {
    color: #000;
}

.content-text {
    padding: 45px 0;
    font: 18px 'Open Sans', sans-serif;
    color: #000;
}

.content-text blockquote {
    color: #4c4c4c;
    margin: 35px 0 35px 25px;
    font-size: 16px;
}

.icons-block {
    margin-top: 100px;
}

.wrap-icons-block {
    font: 14px/1.2 'Open Sans', sans-serif;
    padding: 70px 15px 15px;
    background: #f6f6f6;
    text-align: center;
    min-height: 200px;
}

.wrap-icons-block .img-circle {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/*FAQ*/

.wrap-list-faq h3 {
    font: 38px/1 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.panel-title>a {
    display: block;
    font-size: 18px;
    color: #000;
}

.panel-title>a:hover {
    text-decoration: none;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    border-radius: 0;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

.panel .number {
    font-size: 32px;
    color: #b2b2b2;
    display: inline-block;
    vertical-align: middle;
}

.wrap-list-faq .panel-title a[aria-expanded="true"] .show .caret:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #000;
    border-top-color: transparent;
    border-width: 7px;
}

.wrap-list-faq .panel-title a[aria-expanded="true"] .show .caret:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ededed;
    border-top-color: transparent;
    border-width: 7px;
}

.wrap-list-faq .panel-title a[aria-expanded="true"] .show .caret:after,
.wrap-list-faq .panel-title a[aria-expanded="true"] .show .caret:before {
    top: 3px;
}

.panel .show {
    float: right;
    font-size: 18px;
    color: #b2b2b2;
    margin-top: 7px;
    position: relative;
}

.panel .show .caret {
    content: "";
    font-family: 'FontAwesome', sans-serif;
    color: #b2b2b2;
    font-weight: 100;
    border: 1px solid #b2b2b2;
    padding: 12px;
    margin-left: 10px;
    font-size: 17px;
}

.panel .show .caret:after,
.panel .show .caret:before {
    top: 10px;
    right: 6px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.panel .show .caret:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #ededed;
    border-width: 7px;
}

.panel .show .caret:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #000;
    border-width: 7px;
}


/*TEAM*/

.team-block {
    padding: 37px 0;
}

.title {
    font: 38px 'Open Sans', sans-serif;
    margin-bottom: 20px;
    font-weight: lighter;
}

.photo-block {
    display: inline-block;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background: #efefef;
    line-height: 155px;
    overflow: hidden;
    text-align: center;
    vertical-align: bottom;
}

.photo-block img {
    vertical-align: middle;
}

.info-block {
    display: inline-block;
    margin: 20px 0 0 30px;
    vertical-align: top;
}

.info-block span {
    display: block;
}

.info-block span.name {
    font: 26px 'Open Sans Semi-Bold', sans-serif;
    color: #000;
}

.info-block span.position {
    font: 22px 'Open Sans', sans-serif;
    color: #4c4c4c;
}

.info-block .more {
    display: inline-block;
    color: #fff;
    text-align: center;
    background: #009ddc;
    padding: 10px 23px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.info-block .more:hover {
    text-decoration: none;
    background: #363636;
}


/*NEWS*/

.br-section {
    background: #f6f6f6;
    padding: 0 0 25px 0;
}

.br-section .title {
    margin-top: 15px;
}

.br-section:before {
    content: "";
    background: url("../images/dotted.png") repeat-x 0 -1px;
    height: 5px;
    display: block;
}

.wrap-news {
    border-right: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
}

.white-block {
    background: #fff;
    padding: 20px;
    font: 13px 'Open Sans', sans-serif;
}

.date-block {
    background: #fcfcfc;
    padding: 20px;
    font-size: 15px;
    color: #6f6f6f;
    font: 13px 'Open Sans', sans-serif;
    -webkit-box-shadow: inset 0px 9px 20px -16px rgba(189, 189, 189, 1);
    -moz-box-shadow: inset 0px 9px 20px -16px rgba(189, 189, 189, 1);
    box-shadow: inset 0px 9px 20px -16px rgba(189, 189, 189, 1);
}

.wrap-news .blue-text {
    color: #3fb5e5;
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
}


/*INVESTORS PAGE*/


/*PROMO*/

.promo-block {
    text-align: center;
}

.promo-block figure img {
    width: 100%;
}

.in-text {
    text-align: center;
    font: 16px/1.7 'Open Sans', sans-serif;
}


/*grey-center-block*/

.grey-center-block {
    background: #fafafa;
    padding: 30px;
    max-width: 567px;
    margin: 50px auto 0;
    position: relative;
}

.grey-center-block:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: -52px;
    background: #f1f1f1;
    height: 335px;
    max-width: 567px;
    margin: 0 auto;
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: -1;
}

.grey-center-block:after {
    content: "";
    background-image: url(../images/shadow-2.png);
    width: 506px;
    height: 183px;
    display: block;
    position: absolute;
    right: 5px;
    top: 140px;
    z-index: 0;
}

.top-block .text-logo {
    display: inline-block;
    padding-right: 15px;
}

.top-block .text-logo:after {
    content: "";
    background: url(../images/shadow-3.png) no-repeat 0px -8px;
    width: 35px;
    height: 106px;
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
}

.top-block .text-title {
    display: inline-block;
    text-align: left;
    vertical-align: super;
    font: 18px/1.5 'Open Sans', sans-serif;
}

.bottom-block {
    text-align: center;
    max-width: 460px;
    background: #fff;
    padding: 0 0 30px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.bottom-block span {
    display: block;
}

.border-colors {
    font-size: 0;
}

.border-colors span {
    width: 115px;
    height: 6px;
    display: inline-block;
    vertical-align: top;
}

.color-1 {
    background: #48a844;
}

.color-2 {
    background: #009edb;
}

.color-3 {
    background: #f38d1f;
}

.color-4 {
    background: #ef2f22;
}

.bottom-block .title {
    font: 16px 'Open Sans', sans-serif;
    color: #848484;
    margin-bottom: 0px;
    margin-top: 30px;
}

.bottom-block .phone {
    font: 32px 'Open Sans', sans-serif;
    color: #000;
}

.bottom-block .mail {
    font: 18px 'Open Sans', sans-serif;
    color: #009ddc;
    margin-top: 15px;
    display: inline-block;
}

.investors-deck {
    font: 26px 'Open Sans Semi-Bold', sans-serif;
    color: #0098d4;
    margin-top: 35px;
}

.investors-deck span {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
}

.br-section.events {
    text-align: center;
}

.br-section.events .item-event {
    float: none;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.br-section.events .item-event .white-block {
    font-size: 13px;
    padding: 15px;
}


/*Footer*/

#footer {
    background: #363636;
    color: #fff;
    font-size: 12px;
    padding: 30px 0;
}

#footer .col-address a {
    color: #009ddc;
    text-decoration: underline;
}

#footer .col-menu > ul > li > a {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

#footer .col-menu > ul > li > a:hover {
    color: #a5a5a5;
    text-decoration: none;
}

#footer a {
    color: #fff;
}

#footer .sub-menu {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 13px;
}

#footer .sub-menu li {
    display: inline-block;
    margin: 0 5px 0 0;
}

#footer .sub-menu li a {
    color: #c9c9c9;
}

#footer p,
#footer .col-menu > ul > li,
#footer ul li {
    margin: 0 0 12px;
}

#footer .social li a {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    background: url(../images/ico-social.png) no-repeat 0 0;
}

#footer .social li a:hover {
    opacity: .9;
}

#footer .social li.gg a {
    background-position: -40px 0;
}

#footer .social li.tw a {
    background-position: -80px 0;
}

#footer .social li.yt a {
    background-position: -120px 0;
}


/*Other*/

.promo-block {
    text-align: center;
}

.promo-block figure img {
    width: 100%;
}

/*PATIENTS*/
.choice-form{
    position: absolute;
    top: 45%;
    left: 20%;
    text-align: left;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding-left: 5px;
}
.device-block{
    position: absolute;
    bottom: -117px;
    right: 280px;
}
.promo-block{
    position: relative;
}
.choice-form .form-group{
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0 0 -5px;
}
.choice-form label {
    color: #fff;
    display: block;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 25px;
    position: absolute;
    top: -25px;
}
.choice-form .form-group input{padding: 0 10px;height: 40px;}
.choice-form .form-group .input-search{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #48b343;
    display: inline-block;
}
.choice-form .form-group .input-search:hover{
    color: #fff;
    background-color: #46aa42;
}
.choice-form .demo-request .select2-container .select2-selection--single,
.choice-form  .demo-request .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}
.choice-form .demo-request .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}
.choice-form .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #5f5f5f transparent transparent transparent;
}
.btn-link-portal{
    font: 21px 'Open Sans Semi-Bold', sans-serif;
    display: inline-block;
    background: #46aa42;
    border-bottom: 3px solid #1f7d1d;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    max-width: 230px;
    width: 100%;
    padding: 15px 0;
    margin-top: 35px;
}
.btn-link-portal:hover{
    text-decoration: none;
    color: #fff;
    background: #1f7d1d;
    border-bottom: 3px solid #46aa42;
}
.rectangle{
    background: url("../images/bg-rectangle.png") no-repeat;
    padding: 40px 0;
    background-size: cover;
    text-align: center;
}
.steps-works{
    margin-top: 95px;
}
.item-step{
    text-align: center;
    font: 13px 'Open Sans', sans-serif;
    padding: 0 40px;
}
.item-step .number-step{
    display: block;
    background: url("../images/flag-step.png") no-repeat 0px 0px;
    color: #fff;
    font: 16px/1.5 'Open Sans Bold', sans-serif;
    width: 68px;
    height: 70px;
    margin: 0 auto;
}
.item-step .title-step{
    font: 20px/1 'Open Sans', sans-serif;
    padding: 35px 0 18px;
    display: block;
}
.consultation{
    padding: 40px 0;
    text-align: center;
    font: 16px/1.5 'Open Sans', sans-serif;
}
.consultation .title{
    margin: 40px 0 35px;
}
.min-title{
    font: 22px/1 'Open Sans', sans-serif;
    padding-bottom: 20px;
    display: block;
}
.experiences{
    padding-bottom: 50px;
}
.experiences .exp-items{
    border-right: 1px solid #dedede;
    padding: 0 25px;
    min-height: 210px;
    font: 15px/1.5 'Open Sans', sans-serif;
}
.experiences .exp-items:last-child{
    border-right: none;
}
.experiences .title{
    text-align: center;
}
.experiences .author{
    display: block;
    margin-top: 20px;
    font: 14px/1 'Open Sans', sans-serif;
    font-weight: bold;
}
.blockquoteImg{
    margin-bottom: 30px;
    display: block;
}
.soc-section{padding-bottom: 40px;}
.soc-section .title{
    text-align: center;
}
.wrap-soc-block .soc-block{
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'HelveticaNeue', Arial, sans-serif;
}
.wrap-soc-block .soc-block .socio-ico{
    margin-bottom: 30px;
    display: block;
    float: left;
    margin-left: -40px;
}
.wrap-soc-block{
    background: #fff;
    padding: 20px;
    min-height: 295px;
}
.top-soc-block{
    border-right: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
}
.wrap-soc-block .soc-block{
    padding-left: 40px;
    display: block;
}
.wrap-soc-block .soc-block .name-date{
    font-size: 15px;
    font-family: 'HelveticaNeue', Arial, sans-serif;
    font-style: italic;
    color: #7f7f7f;
}
.bottom-soc-block{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: #fcfcfc;
    padding: 20px;
    -webkit-box-shadow: inset 0px 9px 20px -16px rgba(189, 189, 189, 1);
    -moz-box-shadow: inset 0px 9px 20px -16px rgba(189, 189, 189, 1);
    box-shadow: inset 0px 9px 20px -16px rgba(189, 189, 189, 1);
}
.bottom-soc-block a{
    color: #0098d4;
}
.link-more{
    display: inline-block;
    color: #0098d4;
    margin-top: 10px;
}
.link-more:hover{
    color: #0098d4;
}

/* changes to css by casey */

body {
    min-width: 0; /* just remove instead of reset */
}
.navbar-inverse.navbar-toggle .icon-bar {
    background-color: #fff;
}

/* resetting this css.
why? - it's not a good idea to change the default
      behavior of container because you need it to properly support mobile responsive
*/
.flexslider .container {
    position: relative !important;
    z-index:3;
}

.jumbotron.hero {
    background: url("../images/img001.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 300px; /* padding as placeholder for any absolute content */
}

.custom-navigation {
    position:absolute;
    float:none;
    z-index: 3;
    right:50px;
}

@media screen and (max-width: 768px) {
    .custom-navigation {
        left: 50%;
        transform: translateX(-50%);
    }
}


.hero h2 {
    margin-top: 150px;
}

/* use https://getbootstrap.com/css/#grid-media-queries */
@media screen and (max-width: 768px) {
    .hero h2 {
        margin-top: 85px;
    }
}



.actions {
    bottom: 60px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    z-index: 2;
}

.actions a {
    color:rgba(255,255,255,0.9);
    padding: 20px 50px;
    text-transform: uppercase;
    font-size:1.75em;
    text-decoration: none;
    margin-top:20px;
}

.actions .patients {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fb04b+0,40a33c+100 */
    background: #4fb04b; /* Old browsers */
    background: -moz-linear-gradient(top,  #4fb04b 0%, #40a33c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4fb04b 0%,#40a33c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4fb04b 0%,#40a33c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fb04b', endColorstr='#40a33c',GradientType=0 ); /* IE6-9 */
}

.actions .doctors {
    background: #00a3df; /* Old browsers */
    background: -moz-linear-gradient(top,  #00a3df 0%, #0095d8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #00a3df 0%,#0095d8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #00a3df 0%,#0095d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3df', endColorstr='#0095d8',GradientType=0 ); /* IE6-9 */

}

.actions .connected {
    background: #f39426; /* Old browsers */
    background: -moz-linear-gradient(top,  #f39426 0%, #f1851b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f39426 0%,#f1851b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f39426 0%,#f1851b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39426', endColorstr='#f1851b',GradientType=0 ); /* IE6-9 */
}


/*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 */
.text-xs-left { text-align: left !important; }
.text-xs-right { text-align: right !important; }
.text-xs-center { text-align: center !important; }
.text-xs-justify { text-align: justify !important; }

@media screen and  (min-width: 768px) {
  .text-sm-left { text-align: left !important; }
  .text-sm-right { text-align: right !important; }
  .text-sm-center { text-align: center !important; }
  .text-sm-justify { text-align: justify !important; }
}

@media screen and  (min-width: 992px) {
  .text-md-left { text-align: left !important; }
  .text-md-right { text-align: right !important; }
  .text-md-center { text-align: center !important; }
  .text-md-justify { text-align: justify !important; }
}

@media screen and  (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}
